:host{
  display: block;
  margin-top: 10px;
}
.info-text{
  text-align: center;
}
.post-image{
  width: 200px;

}
mat-paginator{
  margin-top: 60px;
}
 .post-image img{
   width: 100%;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
 }
