
<mat-card>
  <form (submit)="onSignup(loginForm)" #loginForm="ngForm" *ngIf="isLoading" >
  <mat-form-field>
      <input matInput
      name="email"
       ngModel type="email"
        placeholder="Enter your email"
        #emailInput="ngModel"
        required email>
      <mat-error *ngIf="emailInput.invalid">Please Enter valid Email</mat-error>
    </mat-form-field>
<mat-form-field>
  <input  matInput
  type="password"
  name="password"
  ngModel
  placeholder="Enter your password"
  #passwordInput="ngModel"
  required password>
  <mat-error *ngIf="passwordInput.invalid">Please Enter valid password</mat-error>
</mat-form-field>
<button color="accent" mat-raised-button type="submit">Sign up</button>
</form>
</mat-card>

